#main {
    width: 100%;
    height: calc(100vh - 16px);
}

#image-metadata {
    position: absolute;
    left: 8%;
    bottom: 50%;
    text-align: left;
    font-family: OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.docker-metadata-label {
    font-size: 75%;
}

.docker-metadata-value {
    font-weight: bold;
    font-size: 90%;
}